*{
	padding:0;
	margin:0;
}
body{
	img{
		    width: 100%;
    	position: absolute;
    	top: 0;
    	z-index: -3;
	}
}
.contenido-clima{
    margin-top: 7%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.44);
}

.icono{
	margin-top: 9%;
	margin-bottom: 358px;
	img.img-responsive{
		width: 27%;
		margin-left: 36%;
		z-index: 1;
	}
}

.grados{
	font-size: 20px;
    color: white;
    font-weight: 400;
}

.txt-datos{
	color:$txt-datos;
	font-size: 25px;
    font-weight: 200;
	margin-right: 15%;
	font-family:$lato;
}


.txt-datos-grados{
	color:$txt-datos;
	font-size: 42px;
    font-weight: 500;
    font-family:$roboto;
}

/* FOOTER */
.txt-semana{
	color: $txt-semana;
	font-size: 23px;
    position: relative;
    top: 13px;
}
footer{
	background-color: rgba(255, 255, 255, 0.81);
    width: 90%;
	height: 66px;
    margin-left: 5%;
}

/* SEGUNDA VISTA */ 
.linea-dias{
	padding: 40px;
}
.iconos-semana{
	width:15%;
	float: left;
	z-index: 1;
}

.txt-datos-dias{
	color:$txt-datos;
	font-size: 25px;
    font-weight: 200;
	margin-top: 31px;
    margin-left: 19%;
}
.temperatura{
	color:$txt-datos;
	font-size: 25px;
    font-weight: 200;
    position: relative;
	margin-right: 7%;
}